@model WebApplication1.Models.Raspi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Raspi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pin1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pin1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pin2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pin2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pin3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pin3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RaspiId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
